@font-face {
    font-family: "DM Sans";
    font-stretch: 25% 151%;
    font-weight: 100 1000;
    font-style: italic;
    src: url("./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz-wght.ttf") format("truetype-variations");
}
@font-face {
    font-family: "DM Sans";
    font-stretch: 25% 151%;
    font-weight: 100 1000;
    font-style: normal;
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz-wght.ttf") format("truetype-variations");
}
:root {
    --hue: 0;
    --saturation: 0%;
    --gray-light: 87%;
    --white-light: 100%;
    --black-light: 0%;
    --pure-black-clr: hsl(var(--hue), var(--saturation), var(--black-light));
    --pure-white-clr: hsl(var(--hue), var(--saturation), var(--white-light));
    --light-gray-clr: hsl(var(--hue), var(--saturation), var(--gray-light));
    --light-gray-mid-clr: hsl(var(--hue), var(--saturation), calc(var(--gray-light) - 40%));
    --main-accent-gradient: linear-gradient(to top right, #FFC593, #BC7198, #5A77FF);
    --content-horizontal-space: 38px;
}
.h1,
.h2, 
.h3, 
.h4,
.body-text {
    --font-size: 40px;
    --line-height: 48px;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-variation-settings: "wght" bold;
}
.h1 {
    --font-size: 40px;
    --line-height: 48px;
    letter-spacing: .2ch;
    text-transform: uppercase;
}
.h2 {
    --font-size: 24px;
    --line-height: 25px;
}
.h3 {
    --font-size: 18px;
    --line-height: 25px;
}
.h4 {
    --font-size: 12px;
    --line-height: 16px;
    letter-spacing: .2ch;
    text-transform: uppercase;
    font-variation-settings: "wght" 680;
}
.body-text {
    --font-size: 15px;
    --line-height: 25px;
    font-style: regular;
}
.text-white { color: var(--pure-white-clr); }
.text-black { color: var(--pure-black-clr); }
.text-gray { color: var(--light-gray-clr); }
.sr-only {
    position: absolute;
    inset: 0;
    font-size: 0px;
}
.bordered-btn {
    width: 100% !important;
    margin: 15px 0 !important; 
    box-sizing: border-box !important;
}
.bordered-btn.--black-bg {
    background-color: var(--pure-black-clr);
    color: var(--pure-white-clr);
}
.bordered-btn.--white-bg {
    background-color: var(--pure-white-clr);
    color: var(--pure-black-clr);
}
.unbordered-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    text-decoration: none !important;
    color: currentColor !important;
}
body {
    font-family: 'DM Sans';
}
.top-header {
    position: sticky;
    inset: 0;
    z-index: 3;
    width: 100%;
    box-sizing: border-box;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--pure-white-clr);
    padding: 29px 18px 27px 29px;
}
.nav-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.nav-container.--visible { 
    opacity: 1;
    visibility: visible;
}
.logo {
    position: relative;
}
.logo__text { 
    position: absolute;
    inset: 0px;
    font-size: 0px;
}
.top-header .close-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5em;
    border: none;
    background-color: transparent;
}
.top-header .close-btn.--changeStatus { opacity: 0; }
#header-nav {
    position: absolute;
    top: -50vh;
    left: 0%;
    width: 100%;
    height: max-content;
    background-color: var(--pure-white-clr);
    transition: transform 1s; 
    transition-delay: 200ms;
}
#header-nav.--expanded { transform: translateY(50vh); }
.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    margin: 0;
    list-style: none;
}
.nav-list__item {
    width: 100%;
    text-align: center;
}
.nav-list__item a{
    display: inline-block;
    padding: .75em 1em;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-list__item.--border-dash { border-bottom: solid 1px var(--light-gray-clr); }
.section { position: relative; }
.section .content {
    position: relative;
    padding: 70px var(--content-horizontal-space);
}
.section .content.--rectangle-detail::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 128px;
    height: 6px;
    background-image: var(--main-accent-gradient);
}
.section.--bg-black {
    background-color: var(--pure-black-clr);
    color: var(--pure-white-clr);
}
.section.--bg-transparent {
    background-color: transparent;
    color: var(--pure-white-clr);
}
.section.--bg-img .content {
    position: absolute;
    inset: 0;
    padding: 0 var(--content-horizontal-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.section__img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.section__about .title { margin: 0; }
.section__about .text,
.section__about .date { 
    color: var(--light-gray-mid-clr); 
}
.section__about .author { margin-left: 1ch; }
.section__link {
    width: max-content;
    padding: 1em;
    padding-left: 0;
}
.section__link.--bg-beta { margin-top: 20px; }
.section__link .arrow {
    margin-left: 2ch;
    color: currentColor;
}
.story-section__article {
    position: relative;
    color: var(--pure-white-clr);
}
.story-section__article .bg-img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.story-section__article .container {
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: var(--content-horizontal-space);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1));
    box-sizing: border-box;
}
.story-section__article .title, 
.story-section__article .author {
    margin: 0;
}
.story-section__article .author {
    margin: .75em 0 1.25em 0;
}
.story-section__article .link {
    border-top: solid 1px var(--light-gray-mid-clr);
    padding-top: 1.5em;
    text-transform: uppercase;
}
.story-section__article .date { margin-bottom: 8px; }
.features { padding: 50px 0; }
.features.--features-page { 
    margin: 0; 
    padding-top: 20px; 
    list-style: none;
}
.features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px var(--content-horizontal-space);
}
.features .container .svg {
    margin: 2.5em 0;
}
.features__text {
    margin-top: 0;
    color: var(--light-gray-mid-clr);
}
.features-page .h1 {
    --font-size: 32px;
    --line-height: 40px;
    letter-spacing: 3.33px;
}
.home-footer {
    background-color: var(--pure-black-clr);
    color: var(--pure-white-clr);
}
.home-footer {
    padding: 60px var(--content-horizontal-space);
    text-align: center;
}
.home-footer__socials {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin-block: 20px;
}
.home-footer__socials .item {
    position: relative;
    margin-left: 5px;
}
.item__link {
    padding: 6px;
    color: currentColor;
    text-decoration: none;
}
#footer-nav .nav-list { padding-top: 15px; }
#footer-nav .nav-list__item a { padding: 10px 5px 15px; }
#footer-nav .nav-list__item:last-child { margin-top: 80px; }
#footer-nav .unbordered-btn { justify-content: center !important; }
#footer-nav .unbordered-btn svg { margin-left: 3ch; }
.footer__copyright { color: var(--light-gray-mid-clr); }
#stories-page .section .content { padding-block: 40px; }
.articles-list {
    list-style: none;
    padding: 0;
    margin: 0;
}