@font-face {
    font-family: "DM Sans";
    font-stretch: 25% 151%;
    font-weight: 100 1000;
    font-style: italic;
    src: url("./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz-wght.ttf") format("truetype-variations");
}
@font-face {
    font-family: "DM Sans";
    font-stretch: 25% 151%;
    font-weight: 100 1000;
    font-style: normal;
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz-wght.ttf") format("truetype-variations");
}
:root {
    --pure-black-clr: hsl(0, 0%, 0%);
    --pure-white-clr: hsl(0, 0%, 100%);
    --light-gray-clr: hsl(0, 0%, 87%);
    --main-accent-gradient: linear-gradient(to top right, #FFC593, #BC7198, #5A77FF);
}
.h1,
.h2, 
.h3, 
.h4,
.body-text {
    --font-size: 40px;
    --line-height: 48px;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-variation-settings: "wght" 680;
}
.h1 {
    --font-size: 40px;
    --line-height: 48px;
    letter-spacing: .2ch;
    text-transform: uppercase;
}
.h2 {
    --font-size: 24px;
    --line-height: 25px;
}
.h3 {
    --font-size: 18px;
    --line-height: 25px;
    font-variation-settings: "wght" 580;
}
.h4 {
    --font-size: 12px;
    --line-height: 16px;
    letter-spacing: .2ch;
    text-transform: uppercase;
}
.body-text {
    --font-size: 15px;
    --line-height: 25px;
    font-variation-settings: "wght" 400;
    font-style: regular;
}
.text-white { color: var(--pure-white-clr); }
.text-black { color: var(--pure-black-clr); }
.text-gray { color: var(--light-gray-clr); }
.sr-only {
    position: absolute;
    inset: 0;
    font-size: 0px;
}
.bordered-btn {
    width: 100%;
    margin: 15px 0; 
    box-sizing: border-box;
}
.bordered-btn.--black-bg {
    background-color: var(--pure-black-clr);
    color: var(--pure-white-clr)
}
.bordered-btn.--white-bg {
    background-color: var(--pure-white-clr);
    color: var(--pure-black-clr)
}
body {
    font-family: 'DM Sans';
}
.top-header {
    position: sticky;
    inset: 0;
    z-index: 3;
    width: 100%;
    box-sizing: border-box;
    background-color: royalblue;
}
.menu-container {
    --padding-top: 25px;
    --padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    background-color: pink;
    padding: var(--padding-top) 20px var(--padding-bottom);
}
.nav-container {
    background-color: rgba(0, 0, 0, .7);
    height: 100vh;
}
.logo {
    position: relative;
}
.logo__text { 
    position: absolute;
    inset: 0px;
    font-size: 0px;
}
.top-header .close-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5em;
    border: none;
    background-color: transparent;
}

#header-nav {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: var(--pure-white-clr);
    transition: 1s transform;
}
#header-nav.--expanded {
    transform: translateY(calc(100% + var(--padding-top) + var(--padding-bottom)));
}
.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    margin: 0;
    list-style: none;
}
.nav-list__item {
    width: 100%;
    text-align: center;
}
.nav-list__item a{
    display: inline-block;
    padding: .75em 1em;
    color: var(--pure-black-clr);
    text-decoration: none;
    text-transform: uppercase;
}
.nav-list__item.--border-dash {
    border-bottom: solid 1px var(--light-gray-clr);
}